# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

air-quality-meter/anjay-binary/*
air-quality-meter/.gradle
air-quality-meter/build
.idea
iot-examples.iml

coiote-aws-iot-terraform/terraform.tfstate
coiote-aws-iot-terraform/terraform.tfstate.backup
coiote-aws-iot-terraform/.terraform
